.error-popup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center; }
  .error-popup-container--hidden {
    display: none; }

.error-popup {
  font-size: 1.2rem;
  border: 2px solid red;
  padding: 10px 15px;
  margin-bottom: 10px; }
  .error-popup__header {
    line-height: 1.2;
    margin: 0;
    padding: 0; }
  .error-popup__button {
    padding: 3px 15px;
    margin-top: 5px;
    font-size: 1.2rem;
    border: 1px solid yellow;
    background: goldenrod; }
    .error-popup__button:hover {
      cursor: pointer;
      background: gold; }

