footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: end;
      align-self: end;
  padding: 5px;
  background-color: black;
  color: white;
  width: 100%;
  justify-items: center;
  height: 40px;
  font-size: 0.9rem; }
  @media (min-width: 768px) {
    footer {
      padding: 7px 10px; } }
  @media (min-width: 1900px) {
    footer {
      padding: 10px 15px; } }

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  min-width: 320px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffc266;
  background: #00264d;
  -webkit-box-shadow: 0px 3px 5px -1px #757575;
          box-shadow: 0px 3px 5px -1px #757575;
  font-size: 14px; }
  @media (min-width: 768px) {
    .topbar {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    .topbar {
      font-size: 20px; } }
  @media (min-width: 1900px) {
    .topbar {
      font-size: 24px; } }
  .topbar__title {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-family: 'abelregular';
    font-size: 1.5em;
    padding-top: 13px; }
    @media (min-width: 768px) {
      .topbar__title {
        padding-top: 8px; } }
    @media (min-width: 1200px) {
      .topbar__title {
        padding-top: 6px; } }
    @media (min-width: 1900px) {
      .topbar__title {
        padding-top: 3px; } }
  .topbar__button {
    padding-left: 10px;
    font-family: 'news_cyclebold';
    font-size: 0.9em;
    cursor: pointer; }
    @media (min-width: 768px) {
      .topbar__button {
        padding-left: 20px; } }
    @media (min-width: 1900px) {
      .topbar__button {
        padding-left: 30px; } }
    .topbar__button:hover {
      color: white; }

.main--show-channels .channels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main--show-channels .news-list {
  display: none; }

.main--hide-channels .channels-list {
  display: none; }

.main--hide-channels .news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.channels-list, .news-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.channel, .news-list__item {
  border: 1px solid grey;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 10px; }

.channels-list .channel {
  cursor: pointer;
  max-width: 150px; }
  @media (min-width: 1200px) {
    .channels-list .channel {
      max-width: 200px; } }
  @media (min-width: 1900px) {
    .channels-list .channel {
      max-width: 250px; } }
  .channels-list .channel__name {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.1; }
  .channels-list .channel__category {
    border: 1px solid grey;
    padding: 0px 5px;
    border-radius: 20%;
    font-size: 0.8rem; }
  .channels-list .channel__link {
    font-size: 0.8rem;
    color: blue; }

.news-list__item {
  max-width: 250px; }
  @media (min-width: 360px) {
    .news-list__item {
      max-width: 300px; } }
  @media (min-width: 1200px) {
    .news-list__item {
      max-width: 350px; } }
  @media (min-width: 1900px) {
    .news-list__item {
      max-width: 500px; } }
  .news-list__item .news__image {
    max-width: 250px; }
    @media (min-width: 360px) {
      .news-list__item .news__image {
        max-width: 300px; } }
    @media (min-width: 1200px) {
      .news-list__item .news__image {
        max-width: 350px; } }
    @media (min-width: 1900px) {
      .news-list__item .news__image {
        max-width: 500px; } }
  .news-list__item .news-title {
    cursor: pointer; }
  .news-list__item .news-info {
    font-size: 0.8rem; }

